asgiref==3.8.1
autopep8==1.6.0
diff-match-patch==20241021
Django==5.1.4
django-ckeditor==6.7.2
django-ckeditor-5==0.2.15
django-cors-headers==3.11.0
django-crispy-forms==2.3
django-import-export==4.3.3
django-jazzmin==3.0.1
django-js-asset==3.0.1
django-mathfilters==1.0.0
django-taggit==6.1.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.0.0
pillow==11.0.0
pycodestyle==2.8.0
PyJWT==2.3.0
pytz==2021.3
setuptools==75.6.0
sqlparse==0.4.2
tablib==3.7.0
toml==0.10.2
tzdata==2021.5
